---
###
# CPU usage: Low (5% max observed)
# RAM usage: 25 Mb
# ROI: Very Low
# deploy to rpi: 3, 4, 5
# home ISP: YES
# VPS : YES
###

services:
  earnFm:
    image: earnfm/earnfm-client:latest
    container_name: earnfm    
    restart: always
    logging:
      driver: "json-file"
      options:
          max-size: "10k"
          max-file: 1
    environment:
        - EARNFM_TOKEN={{ vault_earnfm_api_key }}
    deploy:
      resources:
        limits:
          cpus: '0.1'
          memory: 25M
    networks:
      {{ passive_income_network_name }}:
      

networks:
  {{ passive_income_network_name }}:
    external: true