---
###
# CPU usage: Low (5% max observed)
# RAM usage: 15 Mb
# ROI: Very low
# deploy to rpi: 3, 4, 5
# home ISP: YES
# VPS : NO
###

services:
  iproyalPawns:
    image: iproyal/pawns-cli:latest
    container_name: iproyalPawns
    restart: always
    logging:
      driver: "json-file"
      options:
          max-size: "10k"
          max-file: 1
    command: -email="{{ vault_iproyalpawns_email }}" -password="{{ vault_iproyalpawns_passwd }}" -device-name="{{ vault_device_name }}" -accept-tos
    deploy:
      resources:
        limits:
          cpus: '0.1'
          memory: 15M
    networks:
      {{ passive_income_network_name }}:
      

networks:
  {{ passive_income_network_name }}:
    external: true