---
###
# CPU usage: Low (5% max observed)
# RAM usage: 20 Mb
# ROI: Very low
# deploy to rpi: 3, 4, 5
# home ISP: YES
# VPS : NO
###

services:
  packetstream:
    image: packetstream/psclient:latest
    container_name: packetstream
    restart: always    
    logging:
      driver: "json-file"
      options:
          max-size: "10k"
          max-file: 1
    environment:
      - CID={{ vault_packetstream_cid }}
      - DOCKER_DEFAULT_PLATFORM=linux/amd64
    deploy:
      resources:
        limits:
          #cpus: '0.2'
          memory: 20M
    networks:
      {{ passive_income_network_name }}:
      

networks:
  {{ passive_income_network_name }}:
    external: true
